[train]
voc_folder=C:\Temp\MicroPython\#WCBSG\Model\data
train_data=train_data.txt
eva_data=eva_data.txt
cluster_anchor=yolo3_anchors.txt
batch_size=32
total_epochs=150

[model]
width=112
height=112

num_heads=1
cluster_number=3
divider=8
#divider = 8
iou_type=iou
body_type=mbv2

obj_scale=8
noobj_scale=1
iou_threshold=0.5
num_classes=3
class_names=sandbag,netball,bear

[inference]
nms_iou_threshold = 0.45
nms_score_threshold=0.12
max_detections = 10

